﻿
@model SprotswebAdmin.ViewModel.FirmaMedieFormModel
<form id="add-firma-medier">
    <div class="form-group row">
        <label for="firmaNavn" class="col-sm-2 col-form-label">Firma</label>
        <div class="col-sm-9">
            @*<input type="text" class="form-control" id="inputFirmaNavn" placeholder="Firma navn" />*@
            <input type="text" class="flexdatalist" data-min-length="1" id="firma-navn" name="firma" list="firma">
            <datalist id="firma">
                @*@foreach (var items in Model.AllFirma)
                {
                    <option value="@items.FirmaNavn" id="@items.Id" class=""></option>
                }*@
                @*<option value="JP" id="1001" class="selected">JP</option>
                    <option value="Ritzau" id="1003">Ritzau</option>*@
            </datalist>

        </div>
        @*<div class="col-sm-1 d-none"></div>*@
    </div>
    <div class="form-group row form-group-addmedie">
        <label for="medieNavn" class="col-sm-2 col-form-label">Medie</label>
        <div class="col-sm-9 col-medie">
            <input medie-count="1" type="text" class="form-control d-inline-block input-medie-navn-1" id="inputMedieNavn" placeholder="Medie navn" />
            <i data-feather="plus" id="add-medie" class="addMedie d-inline-block"></i>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Tilføj</button>
            <button type="reset" class="btn btn-secondary">Ryd</button>
        </div>
    </div>
</form>
