﻿@model Sportsweb_Trial.Models.SportsIndexModel
@{
    ViewBag.Title = "Home Page";
}

@*<div class="col-sm-12 col-xs-12 col-md-10 col-lg-8 col-xl-8">
    <h2>Stilling</h2>
    <div class="row">

    </div>
</div>*@



<div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6 col-sm-12 col-xs-12">
        
       <div class="table-responsive-sm">
            <table style="width:100%;" class="my-table">
            <tbody>

                @foreach (var teams in Model.SportsForTheApp)
                 {
                                        
                       
                        <tr>
                            @*<td>@teams.ClubName</td>*@
                            <td>@Html.ActionLink(teams.IdraetNavn, "Leagues","Home",new {idraetId=teams.IdraetId},null)</td>
                           
                        </tr>
                       


                 }
            </tbody>
        </table>
       </div>
    </div>
</div>