﻿@model Sportsweb_Trial.Models.SportsLeagueModel
@{
    ViewBag.Title = "Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6 col-sm-12 col-xs-12">
        <h2>Stilling</h2>
        <div class="table-responsive-sm">
            <table style="width:100%;" class="my-table">
                <tbody>

                    @foreach (var teams in Model.DanskTurnering)
                    {
                        if (teams.Name != null)

                        {
                    <tr>
                        @*<td>@teams.ClubName</td>*@
                        @*<td>@Html.ActionLink(teams.Name, "ShowClubDetails", "Home", new { rowId = teams.Id,  hovedturneringId = teams.HovedturneringId }, null)</td>*@
                        <td>@Html.ActionLink(teams.Name, "SportsDetail", "Home")</td>

                    </tr>
                        }


                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



