﻿@model Sportsweb_Trial.Models.ClubDetailsModel
@{
    ViewBag.Title = "ShowClubDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Html.Raw(Model.CustomStylling)" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-10 col-lg-8 col-xl-8 col-sm-12 col-xs-12">
        <h2 class="infoHeadline">@Model.HoldName</h2>
        <div class="table-responsive-sm">
             @foreach(var group in Model.AllClubDetails)
              {
                 <span class="mesterskab">@group.TurneringNavn - @group.SaesonNavn</span>
                 <table style="width:100%;" class="detail-table">
                    <tbody>
                         @foreach (var items in group.AlleResultat.OrderByDescending(o => o.Resultat_kampDato))
                         {
                            <tr>
                                <td>@items.Resultat_kampDato.GetValueOrDefault().ToString("dd-MM")</td>
                                <td class="@(Model.HoldName == items.Resultat_HjemmeHold ? "home-team" : "away-team")" >@items.Resultat_HjemmeHold</td>
                                <td>@items.Resultat_Resultat <strong>(@items.Resultat_1Periode)</strong></td>
                                @*<td>(@items.Resultat_1Periode)</td>*@
                                <td class="@(Model.HoldName == items.Resultat_UdeHold ? "home-team" : "away-team")" >@items.Resultat_UdeHold</td>
                            </tr>
                         }
                      </tbody>
                </table>            
                
              }            
        </div>
    </div>
</div>

