﻿
@model Sportsweb_Trial.Models.SportswebModel
@{
    ViewBag.Title = "Home Page";
}

@*<div class="col-sm-12 col-xs-12 col-md-10 col-lg-8 col-xl-8">
        <h2>Stilling</h2>
        <div class="row">

        </div>
    </div>*@



<div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6 col-sm-12 col-xs-12">
        <h2>Stilling</h2>
        <div class="table-responsive-sm">
            <table style="width:100%;" class="my-table">
                <tbody>

                    @foreach (var teams in Model.SportsStilling)
                    {
                        if (teams.ClubName != null)

                        {
                            <tr>
                                @*<td>@teams.ClubName</td>*@
                                <td>@Html.ActionLink(teams.ClubName, "ShowClubDetails", "Home", new { rowId = teams.RaekkeId, holdId = teams.HoldId, hovedturneringId = teams.HovedTurneringId }, null)</td>
                                <td>@teams.PlayedTotal</td>
                                <td>@teams.WonTotal</td>
                                <td>@teams.DrawTotal</td>
                                <td>@teams.LostTotal</td>
                                <td>@Html.Raw(teams.GoalForAgainst)</td>
                                <td>@teams.PointTotal</td>
                            </tr>
                        }


                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

