﻿
@{
    ViewBag.Title = "CookieConsent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CookieConsent</h2>
<p>Please accept the cookie to use our services/applications</p>
<button class="btn btn-primary" onclick="sports.saveCookieToClientMachine();">OK</button>
<button class="btn btn-info">Reject</button>

