﻿

.infoArea {
    position:fixed;
    width:100%;
    height:100%;
    padding:10% 8% 20% 8%;
    top:0;
    z-index:400;
    background-color:rgba(15,15,15,0.8);
    color:#eee;

}
.infoHeadline{
    color:#2e5a87;
    font-size:24px;
    text-align:center;
    font-weight:700;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
    margin-bottom:-25px;
}
@media only screen and (min-width:750px) {
    .infoFrame {
        position: fixed;
        top: 35%;
        min-height: 20%;
        width: 100%;
        left: 0px;
        background-color: #e0e3ec;
        border: #2e5a87;
        box-shadow: 0px 10px 62px 0px rgba(46,90,135,1);
    }
    .infoImg {
        position: fixed;
        top: calc(35% - 20px);
        left: 20px;
        background-image: url('../images/OVERVÅGNING_i.png') ;
        background-repeat:no-repeat;
        width:60px;
        height:60px;
    }
    .infoText {
        font-size:16px;
        text-align:left;
        color:#2e5a87;
        padding:35px 40px 20px 40px;
    }
}
@media only screen and (max-width:749px) {
    .infoFrame {
        position: fixed;
        top: 30%;
        min-height: 40%;
        width: 100%;
        left: 0px;
        background-color: #e0e3ec;
        border: #2e5a87;
        box-shadow: 0px 10px 62px 0px rgba(46,90,135,1);
    }
    .infoImg {
        position: fixed;
        top: calc(30% - 20px);
        left: 20px;
        background-image: url('../images/OVERVÅGNING_i.png') ;
        background-repeat:no-repeat;
        width:60px;
        height:60px;
    }
    .infoText {
        font-size:16px;
        text-align:left;
        color:#2e5a87;
        padding:25px 10px 15px 10px;
    }
}
