﻿@font-face {
    font-family: 'Roboto-Regular';
    src: url('https://www.ritzau.dk/ritzaucontent/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.infoArea {
    position:fixed;
    width:100%;
    height:100%;
    padding:10% 8% 20% 8%;
    top:0;
    z-index:400;
    background-color:rgba(15,15,15,0.8);
    color:#eee;
}
.infoHeadline{
    color:#2e5a87;
    font-size:24px;
    text-align:center;
    font-weight:700;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
    margin-bottom:-25px;
}
.cmfChecked {
  background: rgba(0, 0, 0, 0) url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/WhiteCheckBoxCheckedHoj.png") no-repeat scroll 8px center / 19px 19px;
}
.cmfUnChecked {
  background-image: url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/WhiteCheckBox.png");
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 19px 19px;
}
.cmfCheckedBlue {
  background: rgba(0, 0, 0, 0) url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/checkedblue.png") no-repeat scroll 8px center / 19px 19px;
}
.cmfCheckedHalfBlue {
  background: rgba(0, 0, 0, 0) url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/CheckedHalfBlue.png") no-repeat scroll 8px center / 19px 19px;
}
.cmfUnCheckedBlue {
  background-image: url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/checkboxblue.png");
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 19px 19px;
}
.checkmarkfield{
    color:#00284a;
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 18px;
    border-bottom:1px solid #d0d9e0;
    padding:5px 0px 5px 40px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;   
    cursor:pointer;
}
@media only screen and (min-width:750px) {
    .infoFrame {
        position: fixed;
        top: 35%;
        min-height: 20%;
        width: 100%;
        left: 0px;
        background-color: #e0e3ec;
        border: #2e5a87;
        box-shadow: 0px 10px 62px 0px rgba(46, 90, 135, 1);
    }
    .infoImg {
        position: fixed;
        top: calc(35% - 20px);
        left: 20px;
        background-image: url('https://www.ritzau.dk/ritzaucontent/htmlHelper/images/OVERVÅGNING_i.png');
        background-repeat:no-repeat;
        width: 60px;
        height: 60px;
    }
    .infoText {
        font-size:16px;
        text-align:left;
        color:#2e5a87;
        padding: 35px 40px 20px 40px;
    }
}
@media only screen and (max-width:749px)
{
    .infoFrame {
        position: fixed;
        top: 30%;
        min-height: 40%;
        width: 100%;
        left: 0px;
        background-color: #e0e3ec;
        border: #2e5a87;
        box-shadow: 0px 10px 62px 0px rgba(46, 90, 135, 1);
    }
    .infoImg {
        position: fixed;
        top: calc(30% - 20px);
        left: 20px;
        background-image: url('https://www.ritzau.dk/ritzaucontent/htmlHelper/images/OVERVÅGNING_i.png');
        background-repeat:no-repeat;
        width: 60px;
        height: 60px;
    }
    .infoText {
        font-size:16px;
        text-align:left;
        color:#2e5a87;
        padding: 25px 10px 15px 10px;
    }
}
.MultiCheckmarkBox{
    
    width:100%;
   
}
.masterCheckDetail {
    padding-left: 40px;
    background-color: rgb(242, 244, 245);
}
.masterCheckMark{
    padding:5px 0px;
    border-bottom: 1px solid #d0d9e0;
}
.masterCheckMarkText {
    color: #00284a;
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 18px;
    padding-left: 40px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
    width:calc(100% - 50px);
    display:inline-block;
}
.masterCheckMarkTog{
    width:40px;
    cursor: pointer;
    
    color: #00284a;
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 18px;
    display:inline-block;
}
.togUp{
    background: rgba(0, 0, 0, 0) url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/BAR_arrow_fold_in.svg") no-repeat scroll 8px center / 40px 13px;
}
.togDown{
    background: rgba(0, 0, 0, 0) url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/BAR_arrow_fold_out.svg") no-repeat scroll 8px center / 40px 13px;
}
.masterCheckMarkDetailCaption{
    overflow:hidden;
    color:gray;
    padding-left:6px;
    font-size:12px;
}


/*Following stylesheet is for the autocomplete project*/

.input-group {
    display: inline-flex !important;
    margin-top: 6px;
}

.form-control {
    padding: 0; /*overwriting default bootstrap's padding to make searchbox little shorter*/
}

#searchbox {
    border-radius: 0px 2px 2px 0px;
}

#searchbut {
    border-radius: 2px 0px 0px 2px;
    background-position-y: 2px;
    background-position-x: 6px;
    background-repeat: no-repeat;
    width: 49px;
}


.input-group .form-control {
    font-family: 'Roboto-Regular',sans-serif !important;
    /*border-color: white;*/
    height: 35px;
    padding-left: 5px;
    border-color: #f2f4f5;
    color: #3a5572;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.inputSearchBox {
    font-family: 'Roboto-Regular',sans-serif !important;
    height: 35px;
    padding-left: 5px;
    border-color: #f2f4f5;
    color: #3a5572;
}


.btn-basic-blue {
    font-family: 'Roboto-Regular',sans-serif;
    border-radius: 0;
    background-color: #002b4b;
    color: white;
    border: 0.5px solid #f2f4f5;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    font-weight: 100 bold;
    margin-left: -2px;
}

/*.btn:focus {
    border: 0 !important;
}*/


.autocomplete-info-image {
    background: transparent url("https://www.ritzau.dk/ritzaucontent/htmlhelper/images/info_icon.png") no-repeat;
    height: 35px;
    width: 58px;
    position: absolute;
    background-size: contain;
    margin-right: -20px;
    z-index: 1;
}

/*this css property removes default bootstrap's inputbox's blue color on focus/hover*/
#searchbox {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0;
}
input.searchUnsel {
    background-color: #f1f1f1;
    padding-top: 4px;
    padding-bottom: 4px;
    margin:2px 2px 2px 0px;
    height:31px !important;
    border:0;
}
input.searchSel {
    background-color: #fff;
    border: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 0px;
}
button.searchUnsel {
    background-image: url(https://www.ritzau.dk/ritzaucontent/images/icons_light/search_icon_01.svg);
    background-color: #f1f1f1;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 2px 0px 2px 2px;
    height: 31px !important;
}
button.searchSel,
button.searchSel:active {
    background-image: url(https://www.ritzau.dk/ritzaucontent/images/icons_blue/search_icon_01.svg);
    background-color: #fff;
    border: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 0px;
}


/************************************************************************************************************************************/
/*CSS for AutoComplete. Below CSS are generated/used by jquery-ui autocomplete and overwritten by us. */
/*this is responsible for hover color on focus on the suggestion list*/
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none !important;
    background: #cfd8e0;
    font-weight: 600;
    color: #3a5572;
}

/*this is responsible for the alignment of the autocomplete menu inline with input box*/
/*This menu is for the dropdown list of autocomplete*/
.ui-autocomplete {
    font-family: 'Roboto-Regular',sans-serif;
    position: relative;
    z-index:2000;
    cursor: default;
    width: 120px;
    margin-top: 15px;
    padding-top: 10px;
    /*added below for scroll - comment it out if scroll is not needed- scroll is only activated if the item crosses the max height range*/
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
    color: #002b4b;
}

/*this class was overriding our background color of the autocomplete suggestion list. The class is also responsible for the border color of the autocomplete menu.
    To change it, peoperty should be overwriten in this class*/

.ui-widget-content {
    background: #f2f4f5;
}

/*html .ui-autocomplete-input { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
    background-color: #f2f4f5;
    font-weight: 400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/*end of autocomplete css classes*/

.padLeft {
    padding-left: 15px !important;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
}
.modal-content {
    border-radius: 0;
    box-shadow: none !important;
}
.modal-header {
    border-bottom: 0;
}