﻿$myFontsize1: 13px;
$myFontsize2: 18px;
$myFontsize3: 25px;
$myWidth: 500px;
$myMargin: 0px auto;

#container {
	width: $myWidth;
	margin: $myMargin;

	p {
		font-family: Arial;
		font-size: $myFontsize1;
	}

	h1 {
		font-family: Tahoma;
		font-size: $myFontsize3;
	}

	h2 {
		font-family: Helvetica;
		font-size: $myFontsize2;
	}
}
